<ion-view view-title="Panel de Control" class="">
  <ion-content>
    <div class="list">
        
        <div class="item item-divider"> 
          Actuadores
        </div>
        
        <ion-toggle ng-model="light.checked" ng-change="toggleLight()">
          Luz
        </ion-toggle>
        <ion-toggle ng-model="music.checked" ng-change="toggleMusic()">
          Música
        </ion-toggle>
        <ion-toggle ng-model="fan.checked" ng-change="toggleFan()">
          Ventilación
        </ion-toggle>

        <div class="item item-divider"> 
          Sensores del teléfono
        </div>
        
        <ion-toggle ng-model="lightSensor.checked" ng-change="toggleLightSensor()">
          Luminosidad
        </ion-toggle>
        <ion-toggle ng-model="shakeSensor.checked" ng-change="toggleShakeSensor()">
          Shake
        </ion-toggle>
      </list>
  </ion-content>
  
</ion-view>